<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBopTOxqbmVW4zFHJxspXvJcjU_agYJCLg</string>
	<key>GCM_SENDER_ID</key>
	<string>141114891520</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.monone.spots</string>
	<key>PROJECT_ID</key>
	<string>monone-swift</string>
	<key>STORAGE_BUCKET</key>
	<string>monone-swift.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:141114891520:ios:b462c0be0dd4edd51627e5</string>
</dict>
</plist>